<div class="col-sm-2 col-md-2 col-lg-2 sidebar">
  <table class="sidebar">
    <div class="tools">

      <!-- List Project -->
      <modal 
        modal-name="'Open Project'" 
        modal-style="self.modalStyle"
        icon="'fas fa-box-open'"
        icon-on-click="self.findAllProjects">
        <ul class="list-project">
          <li ng-repeat="project in self.allProjects track by $index"
            ng-click="self.projectOnClick(project.rootName)">
            <i class="fas fa-briefcase"></i>
            <span ng-bind="project.rootName"></span>
          </li>
        </ul>
      </modal>
    </div>


    <tbody>
      <tr>
        <td width="260px" align="left" valign="top">
          <ul class="ztree" style="width: 260px; overflow: auto;">
            <f-element 
              root-name="self.currentProject.rootName" 
              root-is-file="self.currentProject.rootIsFile" 
              files="self.currentProject.files" 
              folders="self.currentProject.folders">
            </f-element>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>