<li class="f-element">
  <span class="{{self.getBadge()}}" ng-click="self.toggleShowChild()"></span>
  <a ng-click="self.open()">
    <span class="{{self.getIcon()}}"></span>
    <span class="node_name" ng-bind="self.rootName"></span>
  </a>
  <ul class="line">
    <!-- folder -->
    <f-element 
      ng-repeat="f in self.folders  | emptyArray: self.showChild track by $index"
      root-name="f.rootName"
      root-is-file="f.rootIsFile"
      path="f.path"
      files="f.files"
      folders="f.folders"
      open-file="self.openFile"
      open-folder="self.openFolder">
    </f-element>

    <!-- files -->
    <f-element 
      ng-repeat="f in self.files  | emptyArray: self.showChild track by $index"
      root-name="f.rootName"
      root-is-file="f.rootIsFile"
      path="f.path"
      files="f.files"
      folders="f.folders"
      open-file="self.openFile"
      open-folder="self.openFolder">
    </f-element>
  </ul>
</li>