.terminal {
    background-color: white;
    /* height: 255px; */
    padding: 15px;
    font-size: 13px;
    overflow: auto;
    flex: 1;

  .tools {
    display: flex;
    flex-direction: row-reverse;

    i {
      cursor: pointer;
      font-size: 13px;
      margin-right: 25px;


      &:hover {
        color: fade-in($color: #000000, $amount: 0)
      }

      &:active {
        color: fade-in($color: #999999, $amount: 0)
      }
    }
  }
  .fn-button {
    font-size: 9px;
    border: 1px solid #929292;
    padding: 4px 10px;
    border-radius: 2px;
    cursor: pointer; 
    margin-left: 10px;
    transition      : all 0.2s ease-in;
    &:hover {
      border: 1px solid #0077be;
      color: #0077be;
      transition      : all 0.2s ease-in;
      background: #fff;
    }
  }
}