.terminal {
  background-color: white;
  height: 100vh;
  padding: 15px;
  font-size: 13px;
  overflow: auto;

  .tools {
    display: flex;
    flex-direction: row-reverse;

    i {
      cursor: pointer;
      font-size: 13px;
      margin-right: 25px;


      &:hover {
        color: fade-in($color: #000000, $amount: 0)
      }

      &:active {
        color: fade-in($color: #999999, $amount: 0)
      }
    }
  }
}