<div class="terminal">
    <span style="right: 5px; top: 10px; position: absolute" ng-show="self.running">
        <img src="./spinner.gif">
    </span>
    <span
        style="font-size: 9px;border: 1px solid #929292;padding: 4px 10px;border-radius: 2px;position: absolute;cursor: pointer;right: 35px; top: 7px; z-index: 3; margin-left: 10px;"
        ng-click="self.clearConsole()">CLEAR</span>
    <span
        style="font-size: 9px; border: 1px solid #929292; padding: 4px 10px; border-radius: 2px; position: absolute; cursor: pointer; right: 97px; top: 7px;"
        ng-click="self.stopRunning()">TERMINATE</span>

    <div ng-repeat="msg in self.messages">{{msg.content}}</div>
</div>