<div id="consoleWindow" class="terminal">
    <span style="right: 159px; top: 13px; position: absolute" ng-show="self.running">
        <img src="./spinner.gif">
    </span>
    <span
        class="fn-button"
        style="position: absolute;right: 10px; top: 10px; z-index: 3;"
        ng-click="self.clearConsole()">CLEAR</span>
    <span
        class="fn-button"
        style="position: absolute; right: 71px; top: 10px;"
        ng-click="self.terminateProcess()">TERMINATE</span>

    <div ng-repeat="msg in self.messages">{{msg.content}}</div>
</div>