html,
body,
#root-app,
.app {
  height: 100%;
  overflow-x: hidden;
  flex: 1;
}

.app {
  display: flex;
  overflow-y: hidden;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app {
  .fn-button.color-green {
    color: #01ad78;
  }
  .fn-button.color-red{
    color: #a54f0e;
  }
  .separator {
    border-bottom: 1px solid #dddd;
    margin: 5px 5px;
  }
}

.delete-checked {
  color: #0077be !important;
}

.save-checked {
  color: #0077be !important;
}

.refresh-checked {
  color: #0077be !important;
}

.new-button {
  color: #0077be !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editor {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-left: 1px solid #dcdcdc;
}

.label-list-view {
  // height: 44px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 10px 13px 10px 13px;
  font-size: 13px;
  font-weight: bold;
  background: #f4f4f4;
  border-bottom: 1px solid #ececec;
}

.fn-button {
  font-size: 9px;
  font-weight: bold;
  border: 1px solid #d7d7d7;
  padding: 4px 10px;
  border-radius: 2px;
  color: #000;
  background: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s ease-in;
  &:hover {
    border: 1px solid #0077be;
    color: #0077be;
    transition      : all 0.2s ease-in;
    background: #fff;
  }
}

.input-search-list-view {
  background: #fff;
  width: 100%;
  // height: 44px;
  border: 1px solid #ffffff4a;
  border-bottom: 1px solid #eaeaea;
  padding: 14px 20px 14px 15px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.253);
  /* font-weight: 100; */
}

::-webkit-scrollbar {
  background: #f4f4f4;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.253);
  /* font-weight: 100; */
}

.input-search-list-view:focus {
  outline: none;
}

//fix tree view css
wi-base-treeview .wi-treeview-container .wi-parent-content {
  align-items: center;
  padding: 5px 0;

  >div.item-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
  }

}

wi-login>div {
  position: absolute;
  z-index: 4;
  right: 15px;
  top: 8px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

wi-login>div>div.online {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  background: none;
  // margin-bottom: 11px;
  pointer-events: none;

}

wi-login>div>div {
  font-size: 12px;
  display: flex;
  align-items: normal;
  padding: 3px 5px 3px 9px;
  border-radius: 20px;
  // border: 1px solid white;
  background: #fff;
  color: #0078be73;
  cursor: pointer;
}
wi-login>div>span:hover{
    background: #0077be;
    color: #fff;
}
.wi-loading .spinner-backdrop::after {
  animation: 0.7s linear 0s normal none infinite running spinner-backdrop_after;
  border-color: #0077be transparent;
  border-radius: 80px;
  border-style: solid;
  border-width: 5px;
  content: "";
  height: 80px;
  left: -20px;
  position: absolute;
  top: -20px;
  width: 80px;
}

.ngdialog .btn {
  padding: 6px;
}

// .codeflask__code {
//   display: block;
//   font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
//   overflow: hidden;
//   white-space: normal;
// }
.newDialog {
  padding: 5px 13px 0 13px;
  font-size: 15px;
  font-weight: bold;

  >div {
    margin-bottom: 15px;
  }
  .searchInput{
    text-align: left;
    color: #0074c5;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 70px;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 13px;
    width: auto;
    transition: border 0.5s;
  }
  .newDialogContent {
    display: flex;
    .list-project {
      margin: 0;
      list-style-type: none;
      padding: 0;
      text-align: left;
      display: flex;
      width: 100%;
      flex-direction: column;
      >li {
        padding: 4px 13px;
        border-radius: 3px;
        background: #dcdcdc80;
        border: 1px solid #f4f4f4;
        margin: 0 0 8px 0;
        font-size: 12px;
        cursor: pointer;
        transition: border 0.5s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .del {
          color: #d2d2d2;
          &:hover{
            color: rgb(202, 120, 120);
          }
        }
        &.selectedProject {
          border: 1px solid #0077be;
          color: #0077be;
        }
      }

      >li:hover {
        border: 1px solid #0077be;
        transition: border 0.5s;

      }
    }
  }
}

.area{
  background: #005fb9;  
  background: -webkit-linear-gradient(to left, #0682ca, #0077be);  
  width: 100%;
  height:300px;
  
 
}

.circles{
  position: absolute;
  top: 0;
  margin: 0px;
  padding: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.123);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}