html,
body,
#root-app,
.app {
  height: 100%;
  overflow-x: hidden;
  flex: 1;
}

.app {
  display: flex;
  overflow-y: hidden;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app {
  .fn-button.color-green {
    color: #01ad78;
  }
  .fn-button.color-red{
    color: #a54f0e;
  }
  .separator {
    border-bottom: 1px solid #dddd;
    margin: 5px 5px;
  }
}

.delete-checked {
  color: #0077be !important;
}

.save-checked {
  color: #0077be !important;
}

.refresh-checked {
  color: #0077be !important;
}

.new-button {
  color: #0077be !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editor {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-left: 1px solid #dcdcdc;
}

.label-list-view {
  // height: 44px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 10px 13px 10px 13px;
  font-size: 13px;
  font-weight: bold;
  background: #f4f4f4;
  border-bottom: 1px solid #ececec;
}

.fn-button {
  float: right;
  cursor: pointer;
  color: #d4d4d4;
  padding: 11px;
}

.input-search-list-view {
  background: #fff;
  width: 100%;
  // height: 44px;
  border: 1px solid #ffffff4a;
  border-bottom: 1px solid #eaeaea;
  padding: 14px 20px 14px 15px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.253);
  /* font-weight: 100; */
}

::-webkit-scrollbar {
  background: #f4f4f4;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.253);
  /* font-weight: 100; */
}

.input-search-list-view:focus {
  outline: none;
}

//fix tree view css
wi-base-treeview .wi-treeview-container .wi-parent-content {
  align-items: center;
  padding: 5px 0;

  >div.item-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
  }

}

wi-login>div {
  position: absolute;
  z-index: 4;
  right: 15px;
  top: 8px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

wi-login>div>div.online {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  background: none;
  // margin-bottom: 11px;
  pointer-events: none;

}

wi-login>div>div {
  font-size: 12px;
  display: flex;
  align-items: normal;
  padding: 3px 5px 3px 9px;
  border-radius: 20px;
  // border: 1px solid white;
  background: #fff;
  color: #0078be73;
  cursor: pointer;
}
wi-login>div>span:hover{
    background: #0077be;
    color: #fff;
}
.wi-loading .spinner-backdrop::after {
  animation: 0.7s linear 0s normal none infinite running spinner-backdrop_after;
  border-color: #0077be transparent;
  border-radius: 80px;
  border-style: solid;
  border-width: 5px;
  content: "";
  height: 80px;
  left: -20px;
  position: absolute;
  top: -20px;
  width: 80px;
}

.ngdialog .btn {
  padding: 6px;
}

// .codeflask__code {
//   display: block;
//   font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
//   overflow: hidden;
//   white-space: normal;
// }
.newDialog {
  padding: 5px 13px 0 13px;
  font-size: 15px;
  font-weight: bold;

  >div {
    margin-bottom: 15px;
  }

  .newDialogContent {
    display: flex;
    .list-project {
      margin: 0;
      list-style-type: none;
      padding: 0;
      text-align: left;
      display: flex;
      flex-wrap: wrap;

      >li {
        padding: 15px 17px;
        border-radius: 3px;
        background: #ececec;
        margin: 10px;
        cursor: pointer;
      }

      >li:hover {
        animation-name: animatetop;
        animation-duration: 0.5s;
        background: #cacdd2;
      }
    }
  }
}