<div style="display:flex;flex-direction:column;height:100%;">
  <wi-login register-url="https://www.i2g.cloud/register-information/" app-name="Wi Python"></wi-login>
  <tools find-all-projects="self.findAllProjects" all-projects="self.allProjects" open-project="self.openProject"
    close-project="self.closeProject" create-new-project="self.createNewProject" delete-project="self.deleteProject"
    create-new-file="self.createNewFile" create-new-folder="self.createNewFolder" delete-item="self.deleteItem"
    add-func="self.addFunction" save-code="self.saveCode" run-code="self.runCode" code-palette="self.getCurveTree"
    remove-code-palette="self.removeTreeConfig">
  </tools>

  <div class="app">
    <div style="width:20%; border-right: 1px solid #c7c7c7;">
      <div class="label-list-view">
        <span>PROJECTS</span>
      </div>
      <sidebar current-project="self.currentProject" open-file="self.openFile" open-folder="self.openFolder">
      </sidebar>
    </div>
    <div style="width:80%; display: flex; flex-direction: column; border-right: 1px solid #c7c7c7;">
      <div class="label-list-view">
        <span>EDITTOR </span><span ng-show="self.curFile && self.curFile.length">- ({{self.curFile}})</span>
      </div>
      <div style="display:flex; flex:3; background-color: #fff;">
          <wi-droppable ng-if="self.curFile" style="display:flex;flex:3;" on-drop="self.onDrop" container-style="{display:'flex',flex: 1}">
              <div style="display:flex;flex:3;">
                <explorer style="flex:3; position: relative;" update-code="self.coding" code="self.code"
                  cur-file="self.curFile">
                </explorer>
                <div class="editor">
                  <span class="fn-button color-red fa fa-folder-open" aria-hidden="true" ng-click="self.getCurveTree()"
                    title="Login by token"></span>
      
                  <span class="fn-button color-red fa fa-trash" aria-hidden="true" ng-click="self.removeTreeConfig()"
                    title="Login by token"></span>
      
                  <div class="separator"></div>
                  <span ng-class="{'delete-checked':self.codeGenMode === 'delete'}" class="fn-button ti-trash"
                    aria-hidden="true" ng-click="self.deleteChecked()" title="Delete mode"></span>
      
                  <span ng-class="{'save-checked':self.codeGenMode === 'save'}" class="fn-button fa ti-cloud-up"
                    aria-hidden="true" ng-click="self.saveChecked()" title="Save mode"></span>
      
                  <span ng-class="{'refresh-checked':self.codeGenMode === 'load'}" class="fn-button ti-cloud-down"
                    aria-hidden="true" ng-click="self.refreshChecked()" title="Load mode"></span>
      
                  <span ng-class="{'new-button':self.codeGenMode === 'new'}" class="fn-button ti-plus" aria-hidden="true"
                    ng-click="self.newChecked()" title="New mode"></span>
      
                  <!-- ////////////////////////  ADD  ////////////////////// -->
                  <div class="separator"></div>
      
                  <span class="fn-button color-green ti-key" aria-hidden="true" ng-click="self.generateLoginByToken()"
                    title="Login by token"></span>
      
                  <span class="fn-button color-green ti-user" aria-hidden="true" ng-click="self.generateLoginByAccount()"
                    title="Login by account"></span>
      
                  <span class="fn-button color-green ti-cloud-up" aria-hidden="true" ng-click="self.generateSaveCurveData()"
                    title="Save curve data"></span>
      
                  <!-- ////////////////////////  END  ////////////////////// -->
                </div>
              </div>
            </wi-droppable>
      </div>
      

      <div class="label-list-view">
        <span>TERMINAL</span>
      </div>
      <terminal style="flex:1;" result-html="self.resultHtml" iframe-html-link="self.iframeHtmlLink"
        is-result-a-iframe="self.isResultAIframe">
      </terminal>
    </div>
    <side-bar my-default-width="200" orientation="w" collapsed="false">
      <wi-tree-view tree-root="treeConfig" get-label="self.getLabel" get-icon="self.getIcon"
        get-children="self.getChildren" run-match="self.runMatch" click-fn='self.clickFunction'>
        <div class="label-list-view">
          <span>I2G CLOUD</span>
        </div>
      </wi-tree-view>
    </side-bar>
  </div>
</div>
<script type="text/ng-template" id="templateDeleteProject">
  <div class="ngdialog-buttons">
          <div class ="acceptLogout">Are you sure?
              <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="self.acceptDelete()">Delete</button>
          </div>
  </div>
</script>
<script type="text/ng-template" id="templateNewPrj">
  <div class="ngdialog-buttons">
      <div class ="newDialog"><div>New Project</div>
      <div style="border-bottom: 1px solid #f1f0f0; margin-bottom: 15px;"></div>
      <div style="font-weight: 300; color: #666; font-size: 13px; font-style: italic;">Enter the project name according to the following structure: projectname</div>
          <div class="newDialogContent">
              <input type="text" placeholder="Enter project name" ng-model="self.nameProject">
          <a class="ngdialog-button ngdialog-button-primary" ng-click="self.acceptNewPrj()">New</a>
          </div>
      </div>
  </div>
</script>

<script type="text/ng-template" id="templateNewFile">
  <div class="ngdialog-buttons">
      <div class ="newDialog"><div>New File</div>
      <div style="border-bottom: 1px solid #f1f0f0; margin-bottom: 15px;"></div>
      <div style="font-weight: 300; color: #666; font-size: 13px; font-style: italic;">Enter the file name according to the following structure: filename or foldername/filename</div>
          <div class="newDialogContent">
              <input type="text" placeholder="Enter file name" ng-model="self.nameFileNew">
          <a class="ngdialog-button ngdialog-button-primary" ng-click="self.acceptNewFile()">New</a>
          </div>
      </div>
  </div>
</script>
<script type="text/ng-template" id="templateNewFolder">
  <div class="ngdialog-buttons">
      <div class ="newDialog"><div>New Folder</div>
      <div style="border-bottom: 1px solid #f1f0f0; margin-bottom: 15px;"></div>
      <div style="font-weight: 300; color: #666; font-size: 13px; font-style: italic;">Enter the folder name according to the following structure:: foldername</div>
          <div class="newDialogContent">
              <input type="text" placeholder="Enter folder name" ng-model="self.nameFolderNew">
          <a class="ngdialog-button ngdialog-button-primary" ng-click="self.acceptNewFolder()">New</a>
          </div>
      </div>
  </div>
</script>