$tab-height : 35px;
$container-with : 40%;

.explorer {
  height: 100%;

  pre {
    background: transparent;
    border-bottom: none;
    border-top: none;
    height: 9999999999999999999999999999999999999px;
    // max-width: 472px;
    word-break: break-word;
  }

  #codeArea {
    height: 100%;
    border-radius: 3px;
    // box-shadow: 0 2px 2px 0 rgba(#000, .14), 0 1px 5px 0 rgba(#000, .12), 0 3px 1px -2px rgba(#000, .2);

    .codeflask{
      // width: 400px;
      // height: 83%;
      // width: $container-with;
      // border-radius: 3px;
      border-bottom: 1px solid #ececec;
    
      &::before, .codeflask__lines{
        background: #FFF;
        // border-bottom: 1px solid #ccc;
        // border-right: 1px solid #ccc;
      }
    }

    textarea{
      // max-width: 472px;
      width: calc(100% - 40px) !important;
      white-space: normal;
      border-left: 1px solid #ececec;
      color: transparent;
      // border-bottom: 1px solid #ccc;
      // border-right: 1px solid #ccc;
    }


  }
}

