.codeflask.codeflask--has-line-numbers:before {
  background: transparent !important;

}

.codeflask__textarea {
  height: 100%;
  max-height: unset;
  border-radius: 0;
  background-color: transparent !important;
  width: calc(100% - 40px) !important;
  color: transparent !important;
}
.codeflask__pre {
  width: auto !important;
  height: unset;
}
.codeflask__lines__line {
  text-align: left;
}
.codeflask__lines {
  z-index: 3 !important;
  background: transparent;
}
.codeflask {
  background: transparent !important;
  color: #4f559c;
}