$tab-height : 35px;

.explorer {
  height: 100%;

  .tabs {
    background-color: #ece6e6;
  }

  pre {
    // height: 100% - 35px; //heigth of tab
    padding-top: 0;
    padding-bottom: 0;
    height: calc(100% - #{$tab-height});
    overflow-y: hidden;
    background-color: #fdf6e2;
  }

  code {
    height: 95%;
  }
}