.tools{
  margin: 5px 0;
  display: flex;
  padding-left: 5px;
  flex-direction: row-reverse;

  .tooltip-child-icon {
    color: white;
  }

  .list-project {
    list-style: none;
    margin-top: 10px;
    
    li {
      text-align: left;
      margin-bottom: 3px;

      i {
        margin-right: 10px;
      }

      span {
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  i {
    cursor: pointer;
    font-size: 15px;
    margin-right: 15px;

    &:hover {
      color: fade-in($color: #000000, $amount: 0)
    }

    &:active{
      color: fade-in($color: #999999, $amount: 0)
    }
  }    
}