<div class="tools">
    <div class="dropdown">
        <button class="dropbtn">Wi Python
        </button>
    </div>
    <div class="dropdown">
        <button class="dropbtn">File
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.createNewFile()">New File</a>
            <a href="#" ng-click="self.createNewFolder()">New Folder</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Project
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.createNewProject()">New Project</a>
            <a href="#" ng-click="self.findAllProjects()">Open Project</a>
            <!-- <a href="#" ng-click="self.findAllProjects(); showOP = true;">Open Project
                <div>
                    <modal-icon modal-name="'Open Project'" showing="showOP" icon-title="'open a project'"
                        allow-close-after-click="'true'">
                        <ul class="list-project">
                            <li ng-repeat="project in self.allProjects track by $index"
                                ng-click="self.openProject(project);self.setShowOP(false);">
                                <span ng-bind="project"></span>
                            </li>
                        </ul>
                    </modal-icon>
                </div>
            </a> -->
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="#" ng-click="self.closeProject()">Close Project</a>
            <a href="#" ng-click="self.deleteProject()">Delete Project</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Action
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.runCode()">Run Code</a>
            <a href="#" ng-click="self.saveCode()">Save Code</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Tools
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.getCurveTree()">Open Project i2G</a>
            <a href="#" ng-click="self.removeTreeConfig()">Clear i2g Project</a>
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="#" ng-click="self.deleteChecked()">Delete Mode</a>
            <a href="#" ng-click="self.saveChecked()">Save Mode</a>
            <a href="#" ng-click="self.refreshChecked()">Refresh Mode</a>
            <a href="#" ng-click="self.newChecked()">New Mode</a>
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="#" ng-click="self.generateLoginByToken()">Login by Token</a>
            <a href="#" ng-click="self.generateLoginByAccount()">Login by Account</a>
            <a href="#" ng-click="self.generateSaveCurveData()">Save Curve Data</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Help
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.aboutWiPython()">About Wi Python</a>
        </div>
    </div>
</div>