<div class="tools">

  
  <i 
    class="fas fa-desktop" 
    title="run code" 
    ng-click="self.run()">
  </i>

  <i class="fas fa-save"
    title="save code"
    ng-click="self.saveCode()">
  </i>

  <!-- <i class="fas fa-pencil-alt" ng-click="self.addFunc()"></i> -->

  <tooltip-icon>
    <!-- <a href="#"><i class="fab fa-500px"></i></a>
    <a href="#"><i class="fab fa-500px"></i></a>
    <a href="#"><i class="fab fa-500px"></i></a>
    <a href="#"><i class="fab fa-500px"></i></a> -->
  </tooltip-icon>
  
  
  <modal-icon
    modal-name="'Open Project'" 
    icon="'fas fa-box-open'"
    icon-on-click="self.findAllProjects"
    icon-title="'open a project'"
    allow-close-after-click="'true'">
    <ul class="list-project">
      <li ng-repeat="project in self.allProjects track by $index"
        ng-click="self.projectOnClick(project.rootName)">
        <i class="fas fa-briefcase"></i>
        <span ng-bind="project.rootName"></span>
      </li>
    </ul>
  </modal-icon>
</div>