<div id ="tools"class="tools">
    <div class="dropdown" ng-click="self.aboutWiPython()">
        <button class="dropbtn" style="display: flex;"> <span class="logo-wi-python-16x16" style="margin-right: 20px;"></span>Wi Python
        </button>
    </div>
    <div class="dropdown">
        <button class="dropbtn">File
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.createNewFile()">New File</a>
            <a href="#" ng-click="self.createNewFolder()">New Folder</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Project
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.createNewProject()">New Project</a>
            <a href="#" ng-click="self.findAllProjects()">Open Project</a>
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="#" ng-click="self.closeProject()">Close Project</a>
            <a href="#" ng-click="self.deleteProject()">Delete Project</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Action
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.runCode()">Run Code</a>
            <a href="#" ng-click="self.saveCode()">Save Code</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Tools
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#" ng-click="self.getCurveTree()">Open Project i2G</a>
            <a href="#" ng-click="self.removeTreeConfig()">Hide i2g Project</a>
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <div class="dropdown-submenu" href="#" ng-click="">Select Mode
                    <i class="fa fa-caret-right"></i>
                <div class="submenu-content">
                    <a href="#" ng-click="self.deleteChecked()">Delete Mode</a>
                    <a href="#" ng-click="self.saveChecked()">Save Mode</a>
                    <a href="#" ng-click="self.refreshChecked()">Refresh Mode</a>
                    <a href="#" ng-click="self.newChecked()">New Mode</a>
                </div>
            </div>
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <a href="#" ng-click="self.generateLoginByToken()">Login by Token</a>
            <a href="#" ng-click="self.generateLoginByAccount()">Login by Account</a>
            <a href="#" ng-click="self.generateSaveCurveData()">Save Curve Data</a>
            <div style="margin: 4px 17px;;border-bottom: 1px solid #e6e6e6;"></div>
            <div style="display: flex;padding: 12px 16px;color: #000;justify-content: space-between;" >
                <span>Dark Mode</span>
                <label class="switch" >
                    <input type="checkbox" checked>
                    <span class="slider round" ng-click="self.changeTheme()"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Help
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="https://python.i2g.cloud/documents" target="_blank" rel="noopener noreferrer">Read API Documents</a>
            <a href="https://python.i2g.cloud/family.html" target="_blank" rel="noopener noreferrer">I2G Base Family</a>
            <a href="#" ng-click="self.aboutWiPython()">About Wi Python</a>
        </div>
    </div>
</div>